__pycache__/
*.pt
*.fif
*.edf
*.npy
*.pkl
*.log
*.txt
data/raw/
logs/
checkpoints/
.DS_Store
.env
src/train/matching_eval.py
src/train/matching_train.py
src/train/report_matching_eval.py
src/train/report_matching_train.py
notebooks/demo_outputs